*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}


header{
    position:fixed;
    top:0;
    left:0;
    padding: 20px 50px;
    transition: 0.3s;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, .7);
    z-index: 5;
}
/* header:hover{   
    .logo{
        color: #ffffff;
    }
    .nav-bar a{
        color:#F0E3FF;
    }
    .btnLogin-popup{
        border: 2px solid #F0E3FF;
        color:#F0E3FF;
    }
} */
.logo{
    color:#eaddff;
    font-size: 2em;
    font-family: sans-serif;
    font-weight: 700;
    transition: 0.3s;
    
}
.nav-bar{
    margin-left: -100px;
}
.nav-bar a{
    position: relative;
    font-size: 1.1em;
    color:#e0e0e0;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
    font-family: sans-serif;
    transition: 0.3s;
}
header .btnLogin-popup{
    position: relative;
    padding:5px 10px;
    font-size: 1.1em;
    border: 2px solid #b3b3b3;
    background: rgb(0, 0, 0);
    color:#ffffff;
    border-radius: 15px;
    margin-left:20px;
    transform:scale(0.95) ;
    overflow: hidden;
    
}
header .btnLogin-popup::before{
    position:absolute;
    top:0;
    left:0;
    content:'';
    width:100%;
    height:100%;
    background: #ffffff;
    z-index:-1;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s;
}
header .btnLogin-popup:hover{
    transition: 0.3s;
    color:#3E206D;
    border-color:#3E206D;
    transform:scale(1) ;
    box-shadow: 5px 5px 2px rgb(0,0,0,.5);
}

header .btnLogin-popup:hover::before{
    transform-origin: left;
    transform: scaleX(1);

}

.nav-bar a::after{
    position:absolute;
    left:0;
    bottom:-6px;
    content: '';
    width:100%;
    height:3px;
    background:#fcfcfc;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
.nav-bar a:hover::after,.nav-bar a.active{
    font-size: 20px ;
    color: darkgoldenrod;
    transform: scaleX(1);
    transform-origin: left;
}
.wrapper{
    position: fixed;
    top:20%;
    left: 35%;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid #b186f7;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    transition: transform 0.5s;
    display:flex;
    justify-content: center;
    align-items: center;
    transition:transform .5s, height .2s ease;
    overflow: hidden;
    transform: scale(0);
    z-index: 5;
}
.wrapper.active-btnPopup{
    transform:scale(1);
}

.wrapper.active{
    height: 480px;
    .form-box.login{
        transition: none;
        transform: translateX(-400px);
    }
    .form-box.registration{
        transform: translateX(0);
    }
}


.wrapper .form-box{
    width: 100%;
    padding: 40px;;
}
.wrapper .form-box.login{
    /* display: none; */
}

.wrapper .form-box.registration{
    position: absolute;
    transform: translateX(400px);
}
 .icon-close{
    position:absolute;
    top:0;
    right: 0;
    height:45px;
    width: 45px;
    background: #916DD5;
    color: #3E206D;
    font-size:1.5em ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    z-index: 5;
}
.wrapper .icon-close:hover{
    background: #f7f6f8;
}

.form-box h2{
    color:#ceb1fc;
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
.form-box label{
    color:#ceb1fc;
}
.input-box{
    position: relative;
    width:100%;
    height: 40px;
    border-bottom:2px solid #ceb1fc;
    margin:30px 0;
}

.input-box label{
    position: absolute;
    top:50%;
    left:5px;
    transform:translateY(-50%); 
    color:#916DD5;
    font-size: 1em;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top:-5px;
}


.input-box input{
    width:100%;
    height:100%;
    background:transparent;
    border:none;
    outline:none;
    font-size: 1em;
    padding:0 35px 0 5px;
    font-weight: 600;
    color: #ceb1fc;
}
.input-box .icons{
    position:absolute;
    color: #ceb1fc;
    right:8px;
    font-size: 1.2em;
    line-height: 57px;
}
.remember-forget{
    font-size: .9em;
    font-weight: 500;
    margin: -15px 0 15px;
    display:flex;
    justify-content: space-between;
}
.remember-forget label input{
    margin-right: 3px;
    accent-color: #fff;
}
.remember-forget a{
    color:#ceb1fc;
    text-decoration: none;
}
.btn{
    width: 100%;
    height:40px;
    background: #bb93fc;
    border: none;
    outline:none;
    color: #3E206D;
    border-radius: 6px;
    font-size: 1em;
}
.login-register{
    font-size: .9em;
    color:#c7a8f8;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a{
    color:#e4d4ff;
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover{
    text-decoration: underline;
}

section{
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center; 
}
#home{
    background-image: url(images/pic1.jpg);
    background-size: cover;
}
#home::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.50);
    
}
.about-container{
    height: 100%;
    color: #fff;
    padding: 10%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
.profile{
    background-color: rgba(255, 255, 255, .9);
    border-radius: 20px;
    padding: 5%;
}
.img1{
    border-radius: 20px;
    margin-bottom: 20px;
}
.profile h2{
    color: black;
}

.content{
    background-color: rgba(0, 0, 0, .9);
    border-radius: 20px;
    padding: 5%;
    width:50%;
}
.content h2{
    margin-bottom: 20px;
}

#categaries{
    background-image: url(images/pic2.jpeg);
    background-size:cover ;
}


#service{
    background-image: url(images/pic3.webp);
    background-size: cover;
}

#order{
    background-image: url(images/pic4.jpeg);
    background-size: cover;
}

#contact{
    background-color: rgba(0, 0, 0);
    color:white
}